<form #loginForm="ngForm" novalidate (ngSubmit)="loginSubmit()">
  <div>
    <div>
      <input type="text"
       autocomplete="off"
       placeholder="Username" 
       [(ngModel)]="username"
       required/>
    </div>
    <div>
      <input type="password" autocomplete="off" placeholder="Password" id="password">
    </div>
    <div>
      <button type="submit" id="submit">Submit</button>
    </div>
  </div>
</form>